<footer id="bottom">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="https://cdn-icons-png.flaticon.com/128/2327/2327670.png" alt="Social Media Logo">
      </div>
      <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="footer-social">
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1051/1051326.png" alt="Github"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3670/3670274.png" alt="Instagram"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3536/3536569.png" alt="LinkedIn"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2673/2673774.png" alt="StackOverflow"></a>
      </div>
    </div>
    <p class="footer-copy">&copy; 2023 NanwalLalit. All rights reserved.</p>
  </footer>