<header>
<nav>
  <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="/to_do">To-Do</a>
    <a class="nav-link" href="/users/sign-In">sign-In</a>
    <a class="nav-link" href="/users/sign-Up">Sign-up</a>
  </div>
</nav>
<ul>
  <% if(locals.user){ %>
   <li><h3><a href="/users/profile"><%=user.name%></a></h3></li> 
   <li><a href="/users/sign-Out"> Sign Out</a></li>


 <% } else { %>
  <li>
    <a href="/users/sign-In">SignIn</a>
  </li>
  <li>
    <a href="/users/sign-Up">SignUp</a>
  </li>

<% } %>
</ul>
</header>