<header>
  <nav class="navbar-nav">
    <div id="nav-items">
      <a class="nav-link left" href="/">Social Media App</a>
      <div class="search-container">
            <form id="search-form">
              <input type="text" id="search-input" class="search-tag" placeholder="Search...">
              <button id="search-button" type="submit">Search</button>
            </form>
        <div id="search-popup" class="popup" style="display: none;"></div>
      </div>
      <div id="user-details">
        <% if (locals.user) { %>
          <a href="/users/profile/<%= user.id %>">
            <img src="<%= user.avatar %>" alt="Profile Picture" class="profile-Picture">
          </a>
          <a class="nav-link" href="/users/profile/<%= user.id %>"><%= user.name %></a>
          <a class="nav-link" href="/users/sign-Out">Sign Out</a>
        <% } else { %>
          <div class="login-button">
            <a class="nav-link" href="/sign-In">Sign-In</a>
            <a class="nav-link" href="/sign-Up">Sign-up</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>
<script src="./js/search.js"></script>