<body>
    <form action="/users/reset-password" method="post">
        <input type="email" name="email" id="get-account" placeholder="type email...">
        <button type="submit" value="submit">Continue</button>
    </form>
</body>