<link rel="stylesheet" href="./css/newPassword.css">
<div id="outer-newPassword-container">
    <div id="newPassword-container">
        
    <form action="/users/newPassword/?accesstoken=<%=token%>" method="post" id="newPassword-form">
        <h1>Reset Your Password..</h1>
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="New password" >
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" >
        <button type="submit" value="submit">Submit</button>
    </form>
    </div>
</div>