<div>
    <form action="/users/newPassword/?accesstoken=<%=token%>" method="post">
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="New password" >
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" >
        <button type="submit" value="submit">Submit</button>
    </form>
</div>