<html>
    <head>
        <title>
        <%=title%>
    </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
    </head>
    <body>
        
        <h1>Sign Up Page</h1>

        <form action="/users/create" method="post" >
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter your name"  name="name">

            <label for="email">E-Mail</label>
            <input type="email" id="email" placeholder="email" name="email">
            
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="password" id="password">

            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm-password" placeholder="confirm password">

           <input type="submit" id="signup" value="signup">

        </form>

    </body>
</html>