.navbar-nav {
  background-color: lightseagreen;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
}

.nav-link:hover {
  color: black;
}
#user-details{
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20;
 
}
.nav-user{
  text-decoration: none;
  font-size: 15px;
  color: aliceblue;
}
.nav-user:hover{
  color: black;
}
#nav-items{
  width: 60%;
  display: flex;
  gap: 15px;
}
